body{
	font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#FDFDFD;
    color:#555;
}
a{color:#3d107b}
a:hover,
a:focus{
	color:#555;
	text-decoration:none
}
/*
	1.Top Navigation Bar
	2.Footer
	3.Sidebar. This for z-blogPHP
	4.Index
	5.List
	6.Single.
	7.product
	8.Other
*/
/*1.Top Navigation Bar*/
.navbarStyle{
	margin-bottom:0;
	font-size:16px;
	border-bottom: 2px solid #3d107b;
}
.navbarStyle li{
	margin-left:1em;
	margin-right:1em;
}
.navbarStyle .navbar-nav > li > a{
	color: #333;
}
.navbarStyle .navbar-nav > li > a:hover,
.navbarStyle .navbar-nav > li > a:focus{
	color: #428bca;
}
.logo{
	height:80px;
}
.logo .ComLogo{
	background:url(../images/logo.png) no-repeat left center;
	height: 80px;
}
.logo .ComLogo p{
	margin-left: 60px;
	margin-top: 20px;
	font-size: 20px;
	color:#333;
	line-height: 22px;
}
.logo .ComLogo p span{
	font-size:11px;
}
.logo .us{
	margin-top:10px;
}
.logo .us a{
	margin-right:10px;
	margin-left:10px;
	color:#666;
}
.logo .us a:hover,
.logo .us a:focus{
	color:#3d107b;
}
.logo .us .saleNumber{
	font-size:20px;
	color:#3d107b;
}
/*2.footer*/
footer{
	background: #212121;
	box-shadow: 0 6px 9px #000 inset;
	padding-bottom: 1px;
}
footer a{
	color:#ccc;
}
footer a:hover,
footer a:focus{
	color: #428bca;
	text-decoration:none;
}
footer .footerNav{
	padding:1em 1em 0.4em;
	font-size:18px;
	border-bottom:1px solid #030303;
}
footer .footerNav li{
	padding:0 1em;
}
footer .contact{
	padding: 1em 0 4em;
	border-top: 1px solid #4f4f4f;
	font-size:16px;
}
footer .contact span.name{
	color:#ccc;
	font-size:18px;
}
footer .contact .contact-qq{
	margin-top: 3em;
	color:#428bca;
}
.copyright{background: #333;padding: 1em 0;}
.copyright a{color:#999}
.copyright,
.copyright a:hover,
.copyright a:focus{
	color: #666;
}
/*4.index*/
.banner{
	min-height:350px;
	background:url(../images/nbanner.jpg) no-repeat center top;
}
.list{
    margin-top: -90px;
    padding:1em 6em 2em;
    background-color:#FDFDFD;
}
.list ul{
	padding-left:0;
	list-style-type: none;
}
.list .listTitle{
	padding-bottom: 0.75em;
	font-size: 22px;
	font-weight: 700;
	color: #333;
	border-bottom: 1px solid #ccc;
}
.list .listTitle span{
	font-size: 12px;
	font-weight: 100;
	color: #999;
}
.floatRight{
	float: right;
}
.carousel-control.left,
.carousel-control.right{
	background-image:none !important;
}
.indexPPT{
	width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}
.links{
	padding: 15px 0 7px;
	background: #efefef;
	color:#444;
}
.links li{
	border-right:1px solid #d8d8d8;
}
.links li:last-child{border-right:none;}
.links a{color:#444}
.links a:hover,
.links a:focus{color:red}
/*5.List*/
.breadcrumb{margin-bottom:0}
.listLi{
	border-bottom:1px solid #e1e1e8;
}
.listLi p{margin:0}
.listLi a{color:#555}
.listLi a:hover,
.listLi a:focus{color:#3d107b}
.listLi:hover{
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}
.listLi .listName{
	font-size:16px;
	padding-left:.5em;
	line-height:3;
}
.listLi .time{
	font-size:12px;
	margin-top: 16px;
	margin-right:.5em;
}
/*6.Single.*/
h6.about{
	padding: 1em 0 2em;
}
/*7.product.*/
#product,
#indexProduct{
	padding-top: 20px;
}
#indexProduct .title h4,
#product .title h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#indexProduct .intro,
#product .intro{
	color: #999;
	height: 60px;
    line-height: 20px;
    overflow: hidden;
}
.prodetail_img{
	margin: 0 2em;
	width: 350px;
}
.product_img{
	max-height: 200px;
	min-height: 200px;
}
.productBox{
	padding: 15px 0 1px;
	background: #f7f7f7;
	color:#444;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
}
/*2.other*/
.em2{text-indent:2em}
.more{
	background: #333;
    color: white;
    padding: 4px 6px;
    font-size: 14px;
}
.more:hover,
.more:focus{
	color:#eee;
	background:#428bca;
}
.culturalAndArticle{
	padding:50px 0 80px;
	background:#e7e7e7;
}
.culturalAndArticle h4{
	margin-bottom: 1.5em;
	padding-left:.4em;
	font-size:18px;
	border-left:5px solid #3d107b;
}
.culturalAndArticle ul{
	padding:0 0 10px 1.2em;
}
.culturalAndArticle ul li{
	padding: 2px;
    margin-bottom: 2px;
    border-bottom: 1px dashed #cccccc;
}
.culturalAndArticle ul li a{color: #333;}
.culturalAndArticle ul li,
.culturalAndArticle ul li a:hover,
.culturalAndArticle ul li a:focus,
.newTitle:hover,
.newTitle:focus{
	color:#428bca;
}
.culturalAndArticle time{color:#999}
.Cultural_img{
	border:5px white solid;
	margin-right: 2em;
}
.Cultural_text{line-height:24px}
.newsBox{
	padding: 50px 0 80px;
	background: #f7f7f7;
}
.newsBox h4{
	padding-bottom: 10px;
	border-bottom: 2px solid #ddd;
}
.logoTitle{
	margin-right:8px;
	height:20px;
}
#news li{
	padding-bottom: 1em;
	border-bottom: 1px dashed #ddd;
}
.newTitle h5{
	margin-top: 1.5em;
	white-space: nowrap;
	text-overflow:ellipsis;
	word-break:break-all;
	overflow:hidden;
	font-size:14px;
}
.newTitle{color: #333;}
.introText{
	color: #888;
	overflow: hidden;
	max-height: 2.6em;
	font-size: 12px;
}
.aboutUs_img{
	padding: 10px;
    background-color: #fff;
}
.aboutUsText{
	font-size:12px;
	color: #666;
    padding-top: 15px;
    line-height: 20px;
}